.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #343434;
  padding: 10px;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  margin-right: 10px;
}

.name {
  font-size: 16px;
}

.header-right {
  display: flex;
  align-items: center;
}

.show-hamburger {
  display: none;
}

@media (max-width: 768px) {
  .show-hamburger {
    display: block;
  }

  .hide-links {
    display: none;
  }
}
